#map {
    height: 97vh;
}

.dragDropContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    position: relative;
    width: 90%;
    margin-top: 20px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 45%;
    background-color: #9595e8;
    height: 200px;
}

.card {
    width: 100px;
    height: 60px;
    margin: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;

}

#dropArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin-left: 10px;
}

#top {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 10px 15px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}
#bottom {
    position: absolute;
    background-color: #47ff6f;
    color: rgb(17, 15, 15);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    margin-left: 300px;
}

#hide:hover {
    background-color: #ff4500;
}
.legend {
    position: absolute;
    top: 5px;
    left: 70%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
    font-weight: bold;
}

#radioDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between radio buttons as needed */
}

.radio-container {
    display: flex;
    align-items: center;
}

.radio-container input[type="radio"] {
    margin-right: 5px; /* Space between radio button and label */
}

#topDiv {
    margin-bottom: 20px;
    margin-top: 20px;
}

.legend {
    background: white;
    line-height: 1.5;
    padding: 6px 8px;
    font: 14px/16px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend div {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}